NET "clk_user" IOSTANDARD = LVCMOS33;

NET "clk" IOSTANDARD = LVCMOS33;



NET "reset" IOSTANDARD = LVCMOS33;

NET "speaker" IOSTANDARD = LVCMOS33;

//NET "out" IOSTANDARD = LVCMOS33;

NET "k_dat" PULLUP = true;
NET "k_clk" PULLUP = true;

Net "Sseg[0]" IOSTANDARD = LVCMOS33;
Net "Sseg[1]" IOSTANDARD = LVCMOS33;
Net "Sseg[2]" IOSTANDARD = LVCMOS33;
Net "Sseg[3]" IOSTANDARD = LVCMOS33;
Net "Sseg[4]" IOSTANDARD = LVCMOS33;
Net "Sseg[5]" IOSTANDARD = LVCMOS33;
Net "Sseg[6]" IOSTANDARD = LVCMOS33;
Net "Sseg[7]" IOSTANDARD = LVCMOS33;

//NET "AN3PMOD" IOSTANDARD = LVCMOS33;

NET "AN3" IOSTANDARD = LVCMOS33;
NET "AN2" IOSTANDARD = LVCMOS33;
NET "AN1" IOSTANDARD = LVCMOS33;
NET "AN0" IOSTANDARD = LVCMOS33;

Net "state[0]" IOSTANDARD = LVCMOS33;
Net "state[1]" IOSTANDARD = LVCMOS33;
Net "state[2]" IOSTANDARD = LVCMOS33;
Net "state[3]" IOSTANDARD = LVCMOS33;

NET "clk" LOC = V10;

NET "clk_user" LOC = T10;


NET "reset" LOC = B8;

NET "Sseg[0]" LOC = M13;
NET "Sseg[1]" LOC = L14;
NET "Sseg[2]" LOC = N14;
NET "Sseg[3]" LOC = M14;
NET "Sseg[4]" LOC = U18;
NET "Sseg[5]" LOC = U17;
NET "Sseg[6]" LOC = T18;
NET "Sseg[7]" LOC = T17;

NET "speaker" LOC = T12;

NET "k_clk" LOC = L12;
NET "k_dat" LOC = J13;

NET "state[0]" LOC = T11;
NET "state[1]" LOC = R11;
NET "state[2]" LOC = N11;
NET "state[3]" LOC = M11;

//NET "AN3PMOD" LOC = T12;

NET "AN0" LOC = N16;
NET "AN1" LOC = N15;
NET "AN2" LOC = P18;
NET "AN3" LOC = P17;

NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_user" Clock_DEDICATED_ROUTE=FALSE;